@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: whitesmoke;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
